body {
    background: lightgrey; 
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#container {
    width: 99vw; 
    height: 96vh; 
    background: white; 
    margin: 0 auto;
}



/* help in top right corner */
#help-div{
    position: absolute; 
    top: 14px; 
    right: 14px;
}
#help-button {
    font-size: medium; 
    border-radius: 100px; 
    border: 2px solid lightskyblue; 
    padding: 8px 14px; 
    background-color: rgb(199, 231, 251);
}
#help-text {
    border-radius: 4px; 
    border: 2px solid lightskyblue; 
    background-color: rgba(236, 248, 255, 0.945); 
    box-shadow: 3px 3px rgba(128, 128, 128, 0.666); 
    width: 56vw; 
    font-size: 13px; 
    position: relative;
}
#help-text p {
    padding: 0 14px; 
    text-align: center;
}
#close-button {
    font-size: medium; 
    border-radius: 100px; 
    border: 2px solid lightskyblue; 
    padding: 2px 8px; 
    background-color: white; 
    position: absolute; 
    top: -7px; 
    right: -7px;
}

/* phyiscs toggler */
#physics_toggler_div {
    position: absolute; 
    top: 16px; 
    left: 14px;
}
#physics_toggler {
    font-size: medium; 
    border-radius: 10px; 
    border: 2px solid lightskyblue; 
    padding: 6px 12px; 
    background-color: rgb(199, 231, 251);
}

/* little credit in bottom left */
#credit {
    position: absolute; 
    bottom: 16px; 
    left: 14px;
}
#credit p {
    font-size: 14px; 
    color: rgb(80, 80, 80); 
    opacity: 0.4;
}



/* Player Index */
#player-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    text-align: center;
}
#player-index p, h2 {
    flex: 1 0 100%;
    padding: 0;
    margin: 0 0 10px;
}
.team-div {
    text-align: left;
    flex: 1 0 40%;
    max-width: 48%;
    min-width: 430px;
    border-radius: 6px;
    padding: 4px 14px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}
.team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.closed div {
    display: none;
}
.team-div div {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    padding: 8px 10px;
}
.team-div div:hover {
    background-color: rgba(255, 255, 255, 0.6);
}